<app-navbar></app-navbar>

<!-- Sidebar -->
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">State Charts </div>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action bg-light">FTP</a>
      <a href="#" class="list-group-item list-group-item-action bg-light">3 Way Handshake</a>

    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">


    <button style=" width: 30px; height: 100%; float:left; padding: 0; border-radius: 0px; background-color: #dce6e6;"
      class="btn" (click)="clickEvent()"><span class="virt_text">toggle menu</span></button>

    <div class="container-fluid">

      <app-diagram #diagram style="float: left; height: 800px; width: 75%;" [model]='model' (nodeClicked)="setSelectedNode($event)"
        (modelChanges)="setModel($event)"></app-diagram>

      <app-inspector style="float: left; margin-left: 15px; width: 300px" [selectedNode]="selectedNode" [model]="model">
      </app-inspector>


    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
