<app-navbar></app-navbar>

<!-- Sidebar -->
<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper" [ngClass]="status ? 'hide' : 'show'">
    <div class="sidebar-heading">State Charts </div>
    <div class="list-group list-group-flush">

      <a href="#" *ngFor="let _model of this.model_list let i = index"
        class="list-group-item list-group-item-action bg-light" (click)="this.select(i)">{{_model["name"]}}</a>
      <button class="btn btn-secondary" *ngIf="new_model_toggle" (click)="new_model_toggle=!new_model_toggle">new
        model</button>

    </div>
    <form class="center" *ngIf="!new_model_toggle"  (ngSubmit)="onCommitNewModelForm()">

    <div class=" form-group">
          <label>Name</label>
          <input type="text" class="form-control" name="name" placeholder="Enter model name" [(ngModel)]="new_model_name">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

  </form>

  </div>
  <!-- /#sidebar-wrapper -->


  <!-- Page Content -->
  <div id="page-content-wrapper" >

    <div class="container-fluid" style="position: relative; width: 100%; height: 100%; padding: 0;">
      <div style="width: 30px; height: 100vh; margin: 0px; display: inline-block;">
        <button style="float: left;  width: 30px; height: 100vh; padding: 0; border-radius: 0px; background-color: #dce6e6;"
        class="btn" (click)="clickEvent()"><span class="virt_text">toggle menu</span></button>

      </div>
    <div style="width: calc(100% - 30px); margin: 0px; display: inline-block; padding: 0px;">
      <app-diagram #diagram style="float: left; height: 100vh; width: 100%; margin: 0px;"
      (nodeClicked)="setSelectedNode($event)" ></app-diagram>
    </div>




      <app-inspector>
      </app-inspector>


    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
