<div *ngIf="show" class="container"
  style="background-color: rgb(247, 249, 252); float: left; margin-left: 15px; height: 600px; width: 500px; position: absolute; right: 10px; top: 10px;  z-index: 10; overflow: scroll; padding-top: 15px;">

  <form (ngSubmit)="onCommitForm()">
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" name="name" placeholder="Enter Name" [(ngModel)]="data.name">
      <br>
      <label>type</label>
      <input type="text" class="form-control" name="category" placeholder="Enter Name" [(ngModel)]="data.category">
      <br>
      <label>location</label>
      <input type="text" class="form-control" name="location" placeholder="Enter location" [(ngModel)]="data.loc">

    </div>
    <br>
    <div class="form-group">
      <label>Select {{input_type}} </label>

      <!--  Entry functions for states
       -->
      <div *ngIf="data.category == 'state'">
        <span>Entry Functions</span>

        <mat-nav-list>

          <div matLine *ngFor="let e of data.entries; let i = index">
            <div class="flex-container">
              <div style="flex-grow: 6">
                <span>{{ e['command'] }}</span>
              </div>

              <!-- input parameters fields  -->
              <div style="flex-grow: 1" *ngFor="let item of [].constructor(e['input_args']); let j = index ">
                <label>input {{j+1}}</label>
                <input type="text" class="form-control" name="{{'input'+i+e['pid']+e['input_parm'][j]}}"
                  [(ngModel)]="data.entries[i]['input_parm'][j]">
              </div>

              <!-- output parameters fields  -->
              <div style="flex-grow: 1" *ngFor="let item of [].constructor(e['output_args']); let j = index ">
                <label>output {{j+1}}</label>
                <input type="text" class="form-control" name="{{'output+i+e['pid']+e['output_parm'][j]}}"
                  [(ngModel)]="data.entries[i]['output_parm'][j]">
              </div>

              <div style="flex-grow: 1">
                <mat-icon (click)="remove_item(i, data.entries)" aria-hidden="false" aria-label="Example home icon"
                  fontIcon="delete forever">remove</mat-icon>
              </div>
            </div>

          </div>



          <mat-list-item style="margin-top: 15px; margin-bottom: 10px;">
            <mat-form-field *ngIf="data.category == 'state'" appearance="fill">
              <mat-label>Choose action</mat-label>
              <mat-select (selectionChange)="action_selected($event)">
                <mat-option *ngFor="let act of this.actions" [value]="act">
                  {{act["command"]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
        </mat-nav-list>
      </div>


      <!--  exsit functions for states
       -->
      <div *ngIf="data.category == 'state'">
        <span>Exit Functions</span>
        <mat-nav-list>

          <div matLine *ngFor="let e of data.exit; let i = index">
            <div class="flex-container">
              <div style="flex-grow: 6">
                <span>{{ e['command'] }}</span>
              </div>

              <!-- input parameters fields  -->
              <div style="flex-grow: 1" *ngFor="let item of [].constructor(e['input_args']); let j = index ">
                <label>input {{j+1}}</label>
                <input type="text" class="form-control" name="{{e['command']+e['input_parm'][j]}}"
                  [(ngModel)]="e['input_parm'][j]">
              </div>

              <!-- output parameters fields  -->
              <div style="flex-grow: 1" *ngFor="let item of [].constructor(e['output_args']); let j = index ">
                <label>input {{j+1}}</label>
                <input type="text" class="form-control" name="{{e['command']+e['output_parm'][j]}}"
                  [(ngModel)]="e['output_parm'][j]">
              </div>

              <div style="flex-grow: 1">
                <mat-icon (click)="remove_item(i, data.entries)" aria-hidden="false" aria-label="Example home icon"
                  fontIcon="delete forever">remove</mat-icon>
              </div>
            </div>

          </div>



          <mat-list-item style="margin-top: 15px; margin-bottom: 10px;">
            <mat-form-field *ngIf="data.category == 'state'" appearance="fill">
              <mat-label>Choose action</mat-label>
              <mat-select (selectionChange)="action_selected_for_exit($event)">
                <mat-option *ngFor="let act of this.actions" [value]="act">
                  {{act["command"]}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </mat-list-item>
        </mat-nav-list>
      </div>

      <!-- END of exit  -->

      <div *ngIf="data.category == 'event'">
        <div style="margin-bottom: 30px;">
          <mat-nav-list disableRipple>
            <mat-list-item style="margin-bottom: 10px; height: fit-content;"
              *ngFor="let e of data.events; let j = index" (click)="$event.preventDefault();$event.stopPropagation()">
              <div matLine>
                <div class="flex-container">
                  <div style="flex-grow: 6">
                    <span>{{ e['command'] }}</span>
                  </div>
                  <!-- input parms  -->
                  <div style="flex-grow: 0.5" *ngFor="let item of [].constructor(e['input_args']); let i = index ">
                    <label>input {{i+1}}</label>
                    <input type="text" class="form-control" name="{{e['command']+e['input_parm'][i]}}"
                      [(ngModel)]="e['input_parm'][i]">
                  </div>

                  <!-- output parms  -->
                  <div style="flex-grow: 0.5" *ngFor="let item of [].constructor(e['output_args']); let i = index ">
                    <label>input {{i+1}}</label>
                    <input type="text" class="form-control" name="{{e['command']+e['output_parm'][i]}}"
                      [(ngModel)]="e['output_parm'][i]">
                  </div>

                  <div style="flex-grow: 1">
                    <mat-icon (click)="remove_item(j, data.events)" aria-hidden="false" aria-label="Example home icon"
                      fontIcon="delete forever">delete forever</mat-icon>
                  </div>

                </div>
              </div>



              <div mat-line style="width: 100%; background-color: antiquewhite; float: left;">
                <mat-nav-list disableRipple style="background-color: antiquewhite;">

                  <div matLine *ngFor="let a of e['actions']; let i = index" style="background-color: antiquewhite;">
                    <div class="flex-container">
                      <div style="flex-grow: 6">
                        <span matLine>{{ a['command'] }}</span>
                      </div>

                      <!-- input parms  -->
                      <div style="flex-grow: 0.5" *ngFor="let item of [].constructor(a['input_args']); let j = index ">
                        <label>input {{j+1}}</label>
                        <input type="text" class="form-control" name="{{a['pid']+a['input_parm'][j]}}"
                          [(value)]="a['input_parm'][j]" [(ngModel)]="a['input_parm'][j]">
                      </div>

                      <!-- output parms  -->
                      <div style="flex-grow: 0.5" *ngFor="let item of [].constructor(a['output_args']); let j = index ">
                        <label>input {{j+1}}</label>
                        <input type="text" class="form-control" name="{{a['command']+a['output_parm'][j]}}"
                          [(value)]="a['output_parm'][j]" [(ngModel)]="a['output_parm'][j]">
                      </div>

                      <div style="flex-grow: 1">
                        <mat-icon (click)="remove_item(i, e['actions'])" aria-hidden="false"
                          aria-label="Example home icon" fontIcon="delete forever">delete forever</mat-icon>
                      </div>

                    </div>
                  </div>
                  <!-- end of line -->
                  <mat-list-item style="margin-top: 15px; margin-bottom: 10px;">
                    <mat-form-field mat-line appearance="fill">
                      <mat-label>Choose action</mat-label>
                      <mat-select (selectionChange)="event_action_selected($event, j)">
                        <mat-option *ngFor="let act of this.actions" [value]="act">
                          {{act["command"]}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-list-item>
                </mat-nav-list>


              </div>

            </mat-list-item>

          </mat-nav-list>
        </div>

        <div>
          <mat-form-field mat-line appearance="fill">
            <mat-label>Choose condition</mat-label>
            <mat-select (selectionChange)="condition_selected($event)">
              <mat-option *ngFor="let cond of this.conditions" [value]="cond">
                {{cond["command"]}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


      </div>



    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <div>

    {{this.data | json}}
  </div>

</div>
